body{
    color: white;
    background: blue;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_object{
    color: yellow;
}
#camera{
    border: 2px dashed darkgreen;
    width: 350px;
    height: 350px;
}